@media screen and (max-width: 576px) {
    .nav-container {
        flex-direction: column;
    }
    .logo-container {
        padding: 0;
    }
    .items-container{
        flex-direction: column;
        padding: 0;
    }
    .header {
        padding: 20px;
    }
    .banner-container {
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .text {
        padding-left: 38px;
        margin: 10px;
    }
    .banner img {
        padding: 10px 50px;
    }
    /* main styles */
    main {
        margin: 10px;
    }
    .card-img {
        flex-direction: column;
        padding-left: 38px;
    }
    /* play styles */
    .play-container {
        flex-direction: column;
    }
    .play-content {
        text-align: center;
        margin: 10px;
        padding: 20px;
    }
    .play-img img {
        width: 80%;
        margin-left: 75px;
    }
    #img-two {
        height: 200px;
        width: 140px;
        position: relative;
        bottom: 180px;
        left: 10px;
        margin: 0;
    }

    
}