@media screen and (max-width: 576px) {
    .nav-container {
        flex-direction: column;
    }
    .logo-container {
        padding: 0;
    }
    .items-container{
        flex-direction: column;
        padding: 0;
    }
    .header {
        padding: 20px;
    }
    .banner-container {
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .text {
        padding-left: 38px;
        margin: 10px;
    }
    .banner img {
        padding: 10px 50px;
    }
    /* main styles */
    main {
        margin: 10px;
    }
    .card-img {
        flex-direction: column;
        padding-left: 38px;
    }
    .card p {
        padding-bottom: 13px;
    }
    /* play styles */
    .play-container {
        flex-direction: column;
    }
    .play-content {
        text-align: center;
        margin: 10px;
        padding: 20px;
    }
    .play-img img {
        width: 80%;
        margin-left: 75px;
    }
    #img-two {
        height: 200px;
        width: 140px;
        position: relative;
        bottom: 180px;
        left: 10px;
        margin: 0;
    }
    /* icon styles */
    .icon-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 40px;
        gap: 3px;
    }
    .icon-container div {
        height: 40px;
        width: 130px;
        text-align: center;
        padding: 5px 0;
        margin-bottom: 5px;
    }
    .icon-container p {
        margin: 0;
        font-size: xx-small;
    }
    /* footer styles */
    .footer {
        padding: 10px;
    }
    .first-list {
        padding: 20px;
    }
    .zero-list {
        margin: 40px;
        padding-left: 50px;
        align-items: center;
    }
    .icon-list {
        padding-left: 45px;
    }
    .second-list {
        padding: 10px;
    }
    .footer p {
        padding-left: 40px;
    }
}

/* === medium device === */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .header {
        padding: 20px;
    }
    .text {
        padding-top: 30px;
        margin: 15px;
    }
    .main {
        margin: 15px;
    }
    .card-img {
        flex-direction: column;
        padding-left: 70px;
    }
    .card p {
        padding-bottom: 13px;
    }
    .play-container {
        display: block;
    }
    .play-content {
        padding: 0 70px;
        text-align: justify;
    }
    .play-img img {
        margin-left: 40px;
    }
    #img-two {
        height: 210px;
        position: relative;
        bottom: 180px;
        right: 30px;
        margin: 0;
    }
    .icon-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer {
        padding: 30px;
    }
}